@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@1&family=Nabla&display=swap');

* {
    margin: 0;
    padding: 0;
}

#index {
    background-image: url('../assets/images/mj.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: calc(100vh - 1px);
    display: flex;
    align-items: flex-end;
    font-family: 'Alumni Sans Collegiate One';
}

.container {
    background-color: red;
    height: calc(20vh - 1px);
    width: 860px;
    position: absolute;
    bottom: 20px;
    left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.container a {
    height: 100%;
    width: 215px;
    text-shadow: 1px 1px black;
    font-size: 50px;
}


.container a {
    text-decoration: none;
    color: rgba(218, 165, 32, 0.733);
}

.container a:hover {
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.349);
}

.container2 {
    height: 600px;
    width: 100px;
    position: absolute;
    top: 50px;
    right: 50px;
    font-family: 'Nabla';
    font-size: 30px;
}

.container2 span {
    font-family:'Courier New';
}

.container2 {
    writing-mode: vertical-lr;
    text-orientation: upright;
}



video { 
    position: absolute;
    top: 45px;
    left: 155px;
    border-bottom: 2px groove rgba(218, 165, 32, 0.733);
}

 @keyframes rotateHorizontal {  
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.container2 {
    display:inline-block;
    animation: rotateHorizontal 8s linear infinite;
}

#biografia {

}