@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@1&family=Nabla&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------------------PÁGINA INICIAL-------------------------- */
#index {
    background-image: url('../assets/images/mj.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: calc(100vh - 1px);
    display: flex;
    justify-content: flex-start;
    align-items: end;
    font-family: 'Alumni Sans Collegiate One';
}

.container {

    height: 20vh;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu a {
    height: 100%;
    width: 215px;
    text-shadow: 1px 1px black;
    font-size: 50px;
}


.container a {
    text-decoration: none;
    color: rgba(218, 165, 32, 0.733);
}

.container a:hover {
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.349);
}

.placard {
    height: 600px;
    width: 100px;
    position: absolute;
    top: 120px;
    right: 50px;
    font-family: 'Nabla';
    font-size: 30px;
}

.placard {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

video { 
    border-radius: 20%;
    position: absolute;
    top: 45px;
    left: 200px;
    border: 2px groove rgba(218, 165, 32, 0.733);
}

 @keyframes rotateHorizontal {  
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.placard {
    display:inline-block;
    animation: rotateHorizontal 8s linear infinite;
}
/* ------------------SEGUNDA PÁGINA-------------------------- */
#biografia {
    background-color: black;
    height: calc(100vh - 1px);
    display: flex;
    justify-content: center;
    font-family: 'Alumni Sans Collegiate One';

}

header {
    text-align: center;
}

main {
    text-align: right;
    
}

section {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
    display: flex;
    flex-direction: row;

}

section h3 {
    text-align: center;
}

section img {
    height: 300px;
    width: 300px;
    position: absolute;
    right: 0;
}
.texto {

    background-color: yellow;
}
.texto p {
    text-align: left;
}
.imagen {
    width: 430px;
}
/* ---------------------------TERCEIRA PÁGINA------------------ */
#discografia {
    background-color: aquamarine;
    height: calc(100vh - 1px);
}

#discografia nav {
    display: flex;
    justify-content: center;
    font-family: 'Alumni Sans Collegiate One';

}
/* ----------------------------ULTIMA PÁGINA */
#outras_midias {
    background-color: yellowgreen;
    height: calc(100vh - 1px);
    display: flex;
    justify-content: center;
    font-family: 'Alumni Sans Collegiate One';
}